In [2]:
import numpy as np
import pandas as pd

In [20]:
Campaign_Identifier = pd.read_csv(r"C:\Users\THINKPAD\Desktop\PANDAS_CASE_STUDY\Case_study_666\Campaign_Identifier.csv",index_col = 0)
Event_Identifier = pd.read_csv(r"C:\Users\THINKPAD\Desktop\PANDAS_CASE_STUDY\Case_study_666\Event Identifier.csv",index_col = 0)
events = pd.read_csv(r"C:\Users\THINKPAD\Desktop\PANDAS_CASE_STUDY\Case_study_666\events.csv",index_col = 0)
Page_Hierarchy = pd.read_csv(r"C:\Users\THINKPAD\Desktop\PANDAS_CASE_STUDY\Case_study_666\Page_Hierarchy.csv",index_col = 0)
users = pd.read_csv(r"C:\Users\THINKPAD\Desktop\PANDAS_CASE_STUDY\Case_study_666\Users.csv",index_col = 0)

# Digital Analysis

In [22]:
users

      user_id cookie_id  start_date
0           1    c4ca42  2020-02-04
1           2    c81e72  2020-01-18
2           3    eccbc8  2020-02-21
3           4    a87ff6  2020-02-22
4           5    e4da3b  2020-02-01
...       ...       ...         ...
1777       25    46dd2f  2020-03-29
1778       94    59511b  2020-03-22
1779       49    d345a8  2020-02-23
1780      211    a26e03  2020-02-20
1781       64    87a4ba  2020-03-18

[1782 rows x 3 columns]

In [23]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1782 entries, 0 to 1781
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     1782 non-null   int64
 1   cookie_id   1782 non-null   object
 2   start_date  1782 non-null   object
dtypes: int64(1), object(2)
memory usage: 55.7+ KB

In [24]:
users['start_date']= users['start_date'].apply(pd.to_datetime)

In [25]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1782 entries, 0 to 1781
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     1782 non-null   int64
 1   cookie_id   1782 non-null   object
 2   start_date  1782 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 55.7+ KB

###  1. How many users are there?

In [27]:
users['user_id'].nunique()

500

# 2.How many cookies does each user have on average?

In [29]:
# Group by 'user_id' and count the number of 'cookie_id' for each user
grouped_df = users.groupby('user_id').agg(cookies_count=('cookie_id', 'count')).reset_index()

# Calculate the average of 'cookies_count' and cast it to float
avg_cookies_per_user = float(grouped_df['cookies_count'].mean())

avg_cookies_per_user

3.564

# 3.What is the unique number of visits by all users per month?

In [30]:
events

,visit_id,cookie_id,page_id,event_type,sequence_number,event_time
0,ccf365,c4ca42,1,1,1,2020-02-04 19:16:09.182546
1,ccf365,c4ca42,2,1,2,2020-02-04 19:16:17.358191
2,ccf365,c4ca42,6,1,3,2020-02-04 19:16:58.454669
3,ccf365,c4ca42,9,1,4,2020-02-04 19:16:58.609142
4,ccf365,c4ca42,9,2,5,2020-02-04 19:17:51.72942
...,...,...,...,...,...,...
32729,355a6a,87a4ba,10,1,15,2020-03-18 22:44:16.541396
32730,355a6a,87a4ba,11,1,16,2020-03-18 22:44:18.90083
32731,355a6a,87a4ba,11,2,17,2020-03-18 22:45:12.670472
32732,355a6a,87a4ba,12,1,18,2020-03-18 22:45:54.081818
32733,355a6a,87a4ba,13,3,19,2020-03-18 22:45:54.984666

In [31]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32734 entries, 0 to 32733
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   visit_id         32734 non-null  object
 1   cookie_id        32734 non-null  object
 2   page_id          32734 non-null  int64
 3   event_type       32734 non-null  int64
 4   sequence_number  32734 non-null  int64
 5   event_time       32734 non-null  object
dtypes: int64(3), object(3)
memory usage: 1.7+ MB

In [32]:
events['event_time'] = pd.to_datetime(events['event_time'])

In [33]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32734 entries, 0 to 32733
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   visit_id         32734 non-null  object
 1   cookie_id        32734 non-null  object
 2   page_id          32734 non-null  int64
 3   event_type       32734 non-null  int64
 4   sequence_number  32734 non-null  int64
 5   event_time       32734 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 1.7+ MB

In [35]:
# Extract the month from the 'event_time' column
events['months'] = events['event_time'].dt.month

# Group by 'months' and count the number of distinct 'visit_id' for each month
result_df = events.groupby('months')['visit_id'].nunique().reset_index(name='visits_count')

# Sort the result by 'months'
result_df = result_df.sort_values('months')
result_df

   months  visits_count
0       1           876
1       2          1488
2       3           916
3       4           248
4       5            36

# 4.What is the number of events for each event type?

In [38]:
# Merge the two DataFrames on 'event_type'
merged_df = pd.merge(events, Event_Identifier, on='event_type')

# Group by 'event_type' and 'event_name', then count the occurrences
result_df = merged_df.groupby(['event_type', 'event_name']).size().reset_index(name='event_count')

# Sort the result by 'event_type'
result_df = result_df.sort_values('event_type')

result_df

   event_type     event_name  event_count
0           1      Page View        20928
1           2    Add to Cart         8451
2           3       Purchase         1777
3           4  Ad Impression          876
4           5       Ad Click          702

# 5.What is the percentage of visits which have a purchase event?

In [39]:
# Merge the two DataFrames on 'event_type'
merged_df = pd.merge(events, Event_Identifier, on='event_type')

# Filter rows where 'event_name' is 'Purchase'
purchase_df = merged_df[merged_df['event_name'] == 'Purchase']

# Calculate the purchase percentage
total_visits = events['visit_id'].nunique()
purchase_percentage = 100.0 * purchase_df['visit_id'].nunique() / total_visits

print(f"Purchase Percentage: {purchase_percentage:.2f}%")

Purchase Percentage: 49.86%

# 6. What is the percentage of visits which view the checkout page but do not have a purchase event?

In [40]:
# Merge the necessary DataFrames on their respective columns
merged_df = pd.merge(events, Event_Identifier, on='event_type')
merged_df = pd.merge(merged_df, Page_Hierarchy, on='page_id')

# Create a DataFrame for view_checkout
view_checkout_df = merged_df[(merged_df['event_name'] == 'Page View') & (merged_df['page_name'] == 'Checkout')]
cnt_view_checkout = view_checkout_df['visit_id'].count()

# Create a DataFrame for purchase events
purchase_df = merged_df[merged_df['event_name'] == 'Purchase']

# Calculate the percentage
pct_view_checkout_not_purchase = 100 - (100.0 * purchase_df['visit_id'].nunique() / cnt_view_checkout)

print(f"Percentage of View Checkout Not Leading to Purchase: {pct_view_checkout_not_purchase:.2f}%")

Percentage of View Checkout Not Leading to Purchase: 15.50%

# 7. What are the top 3 pages by number of views?

In [41]:
# Merge the necessary DataFrames on their respective columns
merged_df = pd.merge(events, Event_Identifier, on='event_type')
merged_df = pd.merge(merged_df, Page_Hierarchy, on='page_id')

# Filter data for 'Page View' events
page_view_df = merged_df[merged_df['event_name'] == 'Page View']

# Group by 'page_name' and count occurrences
result_df = page_view_df.groupby('page_name').size().reset_index(name='page_views')

# Sort by 'page_views' in descending order
result_df = result_df.sort_values(by='page_views', ascending=False)


result_df.head(3)

      page_name  page_views
1  All Products        3174
3      Checkout        2103
5     Home Page        1782

# 8. What is the number of views and cart adds for each product category?

In [42]:
# Merge the necessary DataFrames on their respective columns
merged_df = pd.merge(events, Event_Identifier, on='event_type')
merged_df = pd.merge(merged_df, Page_Hierarchy, on='page_id')

# Filter data for non-null 'product_category'
filtered_df = merged_df[merged_df['product_category'].notnull()]

# Create a pivot table to count 'Page View' and 'Add to Cart' events for each product category
pivot_table = pd.pivot_table(filtered_df, values='event_type', index='product_category', columns='event_name', aggfunc='count', fill_value=0)

# Rename columns for clarity
pivot_table.columns = ['page_views', 'cart_adds']

# Reset index to make 'product_category' a regular column
result_df = pivot_table.reset_index()

result_df

  product_category  page_views  cart_adds
0             Fish        2789       4633
1           Luxury        1870       3032
2        Shellfish        3792       6204

# 9. What are the top 3 products by purchases?

In [44]:
# Merge the necessary DataFrames on their respective columns
merged_df = pd.merge(events, Event_Identifier, on='event_type')
merged_df = pd.merge(merged_df, Page_Hierarchy, on='page_id')

# Filter data for 'Add to cart' events
cart_df = merged_df[merged_df['event_name'] == 'Add to cart']

# Get visit_ids where 'Add to cart' events occurred
cart_visit_ids = cart_df['visit_id'].unique()

# Filter data for 'Purchase' events with visit_ids in the 'Add to cart' visit_ids
purchase_df = merged_df[(merged_df['event_name'] == 'Purchase') & (merged_df['visit_id'].isin(cart_visit_ids))]

# Group by 'product_id', 'page_name', 'product_category' and count occurrences
result_df = purchase_df.groupby(['product_id', 'page_name', 'product_category']).size().reset_index(name='purchase_count')

# Sort by 'purchase_count' in descending order
result_df = result_df.sort_values(by='purchase_count', ascending=False)

# Select the top 3 rows
result_df.head(3)

Empty DataFrame
Columns: [product_id, page_name, product_category, purchase_count]
Index: []

In [46]:
# Merge the necessary DataFrames on their respective columns
merged_df = pd.merge(events, Event_Identifier, on='event_type')
merged_df = pd.merge(merged_df, Page_Hierarchy, on='page_id')

# Filter data for 'Add to cart' events
cart_df = merged_df[merged_df['event_name'] == 'Add to cart']

# Get visit_ids where 'Add to cart' events occurred
cart_visit_ids = cart_df['visit_id'].unique()

# Filter data for 'Purchase' events with visit_ids in the 'Add to cart' visit_ids
purchase_df = merged_df[(merged_df['event_name'] == 'Purchase') & (merged_df['visit_id'].isin(cart_visit_ids))]

# Group by 'product_id' and count occurrences
result_df = purchase_df.groupby('product_id').size().reset_index(name='purchase_count')

# Sort by 'purchase_count' in descending order
result_df = result_df.sort_values(by='purchase_count', ascending=False)

# Select the top 3 rows
result_df_top3 = result_df.head(3)

result_df_top3

Empty DataFrame
Columns: [product_id, purchase_count]
Index: []

# create a new output table which has the following details:

- How many times was each product viewed?
- How many times was each product added to cart?
- How many times was each product added to a cart but not purchased (abandoned)?
- How many times was each product purchased?

In [50]:
# Merge the necessary DataFrames on their respective columns
merged_df = pd.merge(events, Event_Identifier, on='event_type')
merged_df = pd.merge(merged_df, Page_Hierarchy, on='page_id')

# 1st layer: Product Info
product_info_df = merged_df[merged_df['product_id'].notnull()].groupby(['product_id', 'page_name', 'product_category']).agg(
    views=('event_name', lambda x: (x == 'Page View').sum()),
    cart_adds=('event_name', lambda x: (x == 'Add to Cart').sum())
).reset_index()

# 2nd layer: Product Abandoned
product_abandoned_df = merged_df[(merged_df['event_name'] == 'Add to Cart') & ~(merged_df['visit_id'].isin(
    merged_df[merged_df['event_name'] == 'Purchase']['visit_id']))].groupby(['product_id', 'page_name', 'product_category']).size().reset_index(name='abandoned')

# 3rd layer: Product Purchased
product_purchased_df = merged_df[(merged_df['event_name'] == 'Add to Cart') & (merged_df['visit_id'].isin(
    merged_df[merged_df['event_name'] == 'Purchase']['visit_id']))].groupby(['product_id', 'page_name', 'product_category']).size().reset_index(name='purchases')

# Merge the three DataFrames
product_summary_df = pd.merge(product_info_df, product_abandoned_df, how='left', on=['product_id', 'page_name', 'product_category'])
product_summary_df = pd.merge(product_summary_df, product_purchased_df, how='left', on=['product_id', 'page_name', 'product_category'])

# Fill NaN values with 0
product_summary_df = product_summary_df.fillna(0)

# Display the resulting DataFrame
product_summary_df

,product_id,page_name,product_category,views,cart_adds,abandoned,purchases
0,1.0,Salmon,Fish,1559,938,227,711
1,2.0,Kingfish,Fish,1559,920,213,707
2,3.0,Tuna,Fish,1515,931,234,697
3,4.0,Russian Caviar,Luxury,1563,946,249,697
4,5.0,Black Truffle,Luxury,1469,924,217,707
5,6.0,Abalone,Shellfish,1525,932,233,699
6,7.0,Lobster,Shellfish,1547,968,214,754
7,8.0,Crab,Shellfish,1564,949,230,719
8,9.0,Oyster,Shellfish,1568,943,217,726

# Additionally, create another table which further aggregates the data for the above points but this time for each product category instead of individual products.

In [52]:
# Merge the necessary DataFrames on their respective columns
merged_df = pd.merge(events, Event_Identifier, on='event_type')
merged_df = pd.merge(merged_df, Page_Hierarchy, on='page_id')

# 1st layer: Category Info
category_info_df = merged_df[merged_df['product_id'].notnull()].groupby('product_category').agg(
    views=('event_name', lambda x: (x == 'Page View').sum()),
    cart_adds=('event_name', lambda x: (x == 'Add To Cart').sum())
).reset_index()

# 2nd layer: Category Abandoned
category_abandoned_df = merged_df[(merged_df['event_name'] == 'Add to Cart') & ~(merged_df['visit_id'].isin(
    merged_df[merged_df['event_name'] == 'Purchase']['visit_id']))].groupby('product_category').size().reset_index(name='abandoned')

# 3rd layer: Category Purchased
category_purchased_df = merged_df[(merged_df['event_name'] == 'Add to Cart') & (merged_df['visit_id'].isin(
    merged_df[merged_df['event_name'] == 'Purchase']['visit_id']))].groupby('product_category').size().reset_index(name='purchases')

# Merge the three DataFrames
category_summary_df = pd.merge(category_info_df, category_abandoned_df, how='left', on='product_category')
category_summary_df = pd.merge(category_summary_df, category_purchased_df, how='left', on='product_category')

# Fill NaN values with 0
category_summary_df = category_summary_df.fillna(0)

# Display the resulting DataFrame
category_summary_df

  product_category  views  cart_adds  abandoned  purchases
0             Fish   4633          0        674       2115
1           Luxury   3032          0        466       1404
2        Shellfish   6204          0        894       2898

# Use 2 new output tables - answer the following questions:

## 1. Which product had the most views, cart adds and purchases? SELECT TOP 1.

In [53]:
# Sort the DataFrame by 'purchases' in descending order and select the top 1 row
top_product = product_summary_df.sort_values(by='purchases', ascending=False).head(1)

top_product

,product_id,page_name,product_category,views,cart_adds,abandoned,purchases
6,7.0,Lobster,Shellfish,1547,968,214,754

# 2.Which product was most likely to be abandoned?

In [54]:
top_abandoned_product = product_summary_df.sort_values(by='abandoned', ascending=False).head(1)

top_abandoned_product

,product_id,page_name,product_category,views,cart_adds,abandoned,purchases
3,4.0,Russian Caviar,Luxury,1563,946,249,697

# 3. Which product had the highest view to purchase percentage?

In [59]:
# Calculate purchase per view percentage
product_summary_df['purchase_per_view_pct'] = (100.0 * product_summary_df['purchases'] / product_summary_df['views']).round(2)

# Sort the DataFrame by 'purchase_per_view_pct' in descending order and select the top 1 row
top_purchase_per_view = product_summary_df.sort_values(by='purchase_per_view_pct', ascending=False).head(1)

# Display the column names to identify the correct ones
print(top_purchase_per_view.columns)

# Display the result
top_purchase_per_view

Index(['product_id', 'page_name', 'product_category', 'views', 'cart_adds',
       'abandoned', 'purchases', 'purchase_per_view_pct'],
      dtype='object')

,product_id,page_name,product_category,views,cart_adds,abandoned,purchases,purchase_per_view_pct
6,7.0,Lobster,Shellfish,1547,968,214,754,48.74

# 4. What is the average conversion rate from view to cart add?

In [60]:
# Calculate average view-to-cart conversion percentage
avg_view_to_cart = (100.0 * product_summary_df['cart_adds'].sum() / product_summary_df['views'].sum()).round(2)

print("Average View-to-Cart Conversion Percentage:", avg_view_to_cart)

Average View-to-Cart Conversion Percentage: 60.93

# 5. What is the average conversion rate from cart add to purchase?

In [61]:
# Calculate average cart-to-purchase conversion percentage
avg_cart_to_purchase = (100.0 * product_summary_df['purchases'].sum() / product_summary_df['cart_adds'].sum()).round(2)

print("Average Cart-to-Purchase Conversion Percentage:", avg_cart_to_purchase)

Average Cart-to-Purchase Conversion Percentage: 75.93